/* ---------------- wraps ---------------- */
body {clear: both; margin: 0; padding: 0; font: 18px Verdana, Arial, Helvetica; background: #eee}
a {color: inherit; text-decoration: none}
/*position: relative;  top: 24px; border: 1px solid #CCC; */
#container {clear: both; width: 960px; min-height: 512px; background: none; margin: 0 auto; padding: 0; position: relative; top: 72px;}
#header { width: 100%; height: 48px; background: none; border-bottom: 1px solid #9c0000;;}
	#logo {width: 320px; float: left; height: 48px; line-height: 48px; font-size: 24px; font-family: Segoe UI light; letter-spacing: 4px; word-spacing: 3px; background: #9c0000; color: white; text-align: center}
	#menu {width: 640px; height: 48px; background: none; margin: 0 0 0 auto; position: relative; float: left;}
	.menu-item {max-width: 160px; height: 48px; background: none; float: left; line-height: 48px; text-align: center; /*border-right: 1px solid black;*/ position: relative; color: #666; padding-left: 32px; padding-right: 24px}
	.menu-item span:hover, .selected { border-bottom: 1px dashed gray; cursor: pointer; color: #8c0000;}
	.menu-item span a {text-decoration: none; color: inherit;}
	.menu-item .tri {position: absolute; bottom:0px;}

.tri {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 8px 9px;
	border-color: transparent transparent #9c0000 transparent;
}
#content { width: 100%; min-height: 0px; padding-bottom: 24px;}

#profile-left, #profile-right { }
#profile-left 	{ width: 360px; height: 450px; /*background: red;*/}
#profile-right 	{ width: 600px; height: 450px; /*background: yellow;*/}
#profile-right ul li {line-height: 36px;}
#profile-right ul li a {border-bottom: 1px dashed orange;}
#profile-right ul li a:hover {border-bottom: 1px dashed #9c0000; color: #9c0000;}
#profile-img {padding: 8px; background: white; border: 1px solid #bbb; box-shadow: 1px 1px 5px #bbb;}

#socialnetwork {width: 240px; height: 64px; margin-left: 36px;}
.socialnetwork-block {float: left;}
.socialnetwork-block img {width: 40px; margin-left: 6px;}


.project-block {width: 100%; min-height: 240px; background: white; box-shadow: 3px 3px 5px #bbb; border-bottom: 1px solid #aaa; border-top: 1px solid #ddd; border-left: 1px solid #ddd; margin-top: 48px; /*border: 1px solid black;*/ color: #555; line-height: 24px; padding-bottom: 20px; padding-top: 12px;}
table .left {/*background: #9c0000;*/ width: 320px;}
table .right {/*background: orange;*/ vertical-align: top; width: 640px;}
table .right p a {color: #FF7600;}
table .right p a:hover{text-decoration: underline;}
.project-logo {width: 280px; margin-left: 20px; background: none; }
.project-logo img {
	width: 280px;
}
.project-logo img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}
.project-logo .img-content {border: 1px solid #eee;}
.project-name {height: 32px; margin-top:8px; margin-left: 12px; font-size: 18px; line-height: 32px; color: #9c0000;  background: none;}
.project-name span a {color: inherit; text-decoration: none}
.project-name span a:hover { border-bottom: 1px dashed #9c0000; }

.project-time {line-height: 24px; color: #888; font-size: 14px; background: none; margin-left: 4px; font-family: Segoe UI light; letter-spacing: 1px;}

.project-note {font-size: 14px; color: #888}
/*.project-time span {}*/
.project-detail { padding-top: 2px; padding-bottom: 6px; font-size: 16px; width: 600px; margin-left: 20px; /*background: red*/}

.project-teamwork { width: 600px; margin-left: 20px; font-size: 16px; /*margin-top: 12px;*/ }
.project-teamwork span { /*color: #5B50CB;*/ color: #888;  }
.project-teamwork span a {color: inherit; text-decoration: none; word-break: normal; }
.project-teamwork span a:hover { color: #BA2E3F; border-bottom: 1px dashed gray; }


/* publication */
/*.publication-number {vertical-align: top; width: 48px;}*/
#publication-field { font-size: 16px; }
#publication-field .publication-block { line-height: 24px; padding-top: 24px; padding-bottom: 2px;}
.publication-block a:hover { text-decoration: underline; color: #9c0000;}
.publication-type {background: purple; padding-left: 3px; padding-right: 3px; padding-bottom: 1px; padding-top: 1px; color: white; font-size: 14px;
	/*font-family: Segoe UI light;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}

.interest-block li {color: #9c0000}
.interest-block li span {color: #444;}
.interest-block img {padding: 7px; background: white; border: 1px solid #bcbcbc; margin-top:12px; margin-bottom: 16px; margin-left: 12px;}
.interest-block img {width: 720px;}
/*.interest-block .hi { width: 720px;}*/
/*.interest-block .vi { height: 480px;}*/

#footer { width: 100%; height: 32px; background: none; border-top: 1px solid #bbb; margin-top: 24px;}
#copyright {font-size: 12px; color: #888;}
/*#footer hr {display: block; height: 1px; border: 0; border-top: 1px solid #bbb; margin: 1em 0; padding: 0;}*/
.hide {display: none}