/* ---------------- utility ---------------- */

@font-face {
	font-family: "Segoe UI light";
	src: url('segoe_ui_light.ttf');
}

@font-face {
	font-family: "Museo Light";
	src: url('Museo_2_0.woff');
}

@font-face {
	font-family: "Museo";
	src: url('Museo_4_0.woff');
}

.m-font {font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, arial, sans-serif;}
.yuchiao {font-family: "Segoe UI light"}
.hide {display: none;}
.shadow {box-shadow: 2px 1px 3px #DADADA;}
