<!DOCTYPE HTML>
<html>
<head>
	<!-- coding : utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- cache : off -->
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0"> 
	<!-- IE9 -->
	<meta http-equiv="X-UA-Compatible" content="IE=9" />

	<!-- Page title -->
	<title>Maxis Kao</title>

	<!-- CSS -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

	<!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">

	<!-- jQuery -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>	
</head>

<body>
	<div id="container">

		<div id="header">
			<div id="logo">Maxis Kao</div>
			<div id="menu">
				<div class="menu-item {{ selected['profile'] }} ">
					<span><a href="/">Profile</a></span>
					<span class="tri {{ triangle['profile'] }}"></span>
				</div>
				<div class="menu-item {{ selected['projects'] }}">
					<span><a href="/projects">Projects</a></span>
					<span class="tri {{ triangle['projects'] }}"></span>
				</div>
				<div class="menu-item {{ selected['publications'] }}">
					<span><a href="/publications">Publications</a></span>
					<span class="tri {{ triangle['publications'] }}"></span>
				</div>
				<div class="menu-item {{ selected['cv'] }}">
					<span><a href="/static/files/Maxis-CV-with-pubs.pdf" target="_blank">CV</a></span>
					<span class="tri {{ triangle['cv'] }}"></span>
				</div>
				<div class="menu-item {{ selected['about'] }}">
					<span><a href="/about">Traveling</a></span>
					<span class="tri {{ triangle['about'] }}"></span>
				</div>
			</div>
		</div>	<!-- end of #header -->
		<div id="content">
		{% block content %}
		{% endblock %}
		</div> <!-- end of #content -->

		<div id="footer">
			<span id="copyright">Copyright &copy; 2013 Maxis Kao</span>
		</div> <!-- end of #footer -->
	</div> <!-- end of #container -->
</body>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-48175532-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</html>