{% extends "layout.html" %}

{% block content %}
<table>
	<tr>
		<td id="profile-left">
			<div>
				<img id="profile-img" width="340" src="static/img/profile-2.jpg"/>
			</div>
		</td>
		<td id="profile-right">
			<ul>
				<li>MS, Computer Science at <a href="http://www.nthu.edu.tw/english/index.php" target="_blank">National Tsing Hua University</a></li>
				<li>Natural Language Processing (NLP)</li>
				<li>former intern at <a href="http://research.microsoft.com/en-us/labs/asia/" target="_blank">MSRA</a> and <a href="https://www.itri.org.tw/eng/" target="_blank">ITRI</a></li>
				<li>website design, backpacking, painting and workout</li>
			</ul>
			<div id="socialnetwork">
				<div class="socialnetwork-block">
					<a href="http://tw.linkedin.com/pub/maxis-kao/52/743/810/" target="_blank">
						<img src="static/icons/linkedin-128.png" alt="linkedin"/>
						<img class="hide" src="static/icons/linkedin-128.png" alt="linkedin"/>
					</a>
				</div>
				
				<div class="socialnetwork-block">
					<a href="http://maxiskao.tumblr.com" target="_blank">
						<img src="static/icons/tumblr-128.png" alt="tumblr"/>
						<img class="hide" src="static/icons/tumblr-128.png" alt="tumblr"/>
					</a>
				</div>
				
				<div class="socialnetwork-block">
					<a href="https://www.facebook.com/maxis.kao" target="_blank">
						<img src="static/icons/facebook-128.png" alt="facebook"/>
						<img class="hide" src="static/icons/facebook-128.png" alt="facebook"/>
					</a>
				</div>
				
				<div class="socialnetwork-block">
					<a href="https://plus.google.com/107848034286093524296" target="_blank">
						<img src="static/icons/google-128.png" alt="google+"/>
						<img class="hide" src="static/icons/google-128.png" alt="google+"/>
					</a>
				</div>


				<div class="socialnetwork-block" style="padding-left:2px">
					<a href="https://github.com/maxis1718" target="_blank">
						<img src="static/icons/github-128.png" alt="github"/>
						<img class="hide" src="static/icons/github-128.png" alt="github"/>
					</a>
				</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}