{% extends "layout.html" %}

{% block content %}
<table>
	<tr>
		<td id="profile-left">
			<div>
				<img id="profile-img" width="340" src="{{ url_for('static', filename='img/profile-2.jpg') }}"/>
				<!-- <img id="profile-img" width="340" src="static/img/profile-2.jpg"/> -->
			</div>
		</td>
		<td id="profile-right">
			<ul>
				<li>MS, Computer Science at <a href="http://www.nthu.edu.tw/english/index.php" target="_blank">National Tsing Hua University</a></li>
				<li>Natural Language Processing (NLP)</li>
				<li>Research Assistant at <a href="http://www.iis.sinica.edu.tw/index_en.html" target="_blank">Academia Sinica</a></li>
				<li>former intern at <a href="http://research.microsoft.com/en-us/labs/asia/" target="_blank">MSRA</a> and <a href="https://www.itri.org.tw/eng/" target="_blank">ITRI</a></li>
				<li>website design, backpacking, painting and workout</li>
			</ul>
			<div id="socialnetwork">
				<div class="socialnetwork-block">
					<a href="http://tw.linkedin.com/pub/maxis-kao/52/743/810/" target="_blank">
						<img src="{{ url_for('static', filename='logos/linkedin-128.png') }}" alt="linkedin"/>
					</a>
				</div>
				
				<div class="socialnetwork-block">
					<a href="http://maxiskao.tumblr.com" target="_blank">
						<img src="{{ url_for('static', filename='logos/tumblr-128.png') }}" alt="tumblr"/>
					</a>
				</div>
				
				<div class="socialnetwork-block">
					<a href="https://www.facebook.com/maxis.kao" target="_blank">
						<img src="{{ url_for('static', filename='logos/facebook-128.png') }}" alt="facebook"/>
					</a>
				</div>
				
				<div class="socialnetwork-block">
					<a href="https://plus.google.com/107848034286093524296" target="_blank">
						<img src="{{ url_for('static', filename='logos/google-128.png') }}" alt="google+"/>
					</a>
				</div>


				<div class="socialnetwork-block" style="padding-left:2px">
					<a href="https://github.com/maxis1718" target="_blank">
						<img src="{{ url_for('static', filename='logos/github-128.png') }}" alt="github"/>
					</a>
				</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}