{% extends "layout.html" %}

{% block content %}
<table>
	<tr>
		<td id="profile-left">
			<div>
				<img id="profile-img" width="340" src="{{ url_for('static', filename='img/profile-2.jpg') }}"/>
				<!-- <img id="profile-img" width="340" src="static/img/profile-2.jpg"/> -->
			</div>
		</td>
		<td id="profile-right">
			<ul>
				<li>I'm a Research Assistant in 
					<a href="http://www.iis.sinica.edu.tw/index_en.html" target="_blank">Academia Sinica</a> 
					(<a href="http://doraemon.iis.sinica.edu.tw" target="_blank">NLP Lab</a>)
				</li>			
				<li>I'm a <em>Python</em>er and a passionate <em>web</em> developer.</li>
				<!-- <li>I enjoy the quest of web interface development</li> -->
				<li>I think Natural Language Processing (NLP) is fascinating <strong>!</strong></li>

				<li>I got a MS in Computer Science from 
					<a href="http://www.nthu.edu.tw/english/index.php" target="_blank">NTHU</a> 
					(<a href="http://nlp.cs.nthu.edu.tw/" target="_blank">NLPLab</a>)
				</li>

				

				<li>
					I'm former interns at 
					<a href="http://research.microsoft.com/en-us/labs/asia/" target="_blank">MSRA</a>
					and
					<a href="https://www.itri.org.tw/eng/" target="_blank">ITRI</a>.
				</li>
				<!-- <li>website design, backpacking, painting and workout</li> -->
			</ul>
		</td>
	</tr>
</table>
{% endblock %}