{% extends "layout.html" %}

{% block content %}
	<ol type="1" start=1 id="publication-field">
		<li class="publication-block">
			<span nick="Mavis">Meihua Chen</span>,
			<span nick="Neo">Shih-Ting Huang</span>,
			<span nick="Maxis"><u>Ting-Hui Kao</u></span>,
			<span nick="Gina">Hsun-wen Chiu</span> and 
			<span nick="Joe">Tzu-Hsi Yen</span>,
			<span>"GLANCE Visualizes Lexical Phenomena for Language Learning"</span>
			in <i>Proceedings of the 1st Workshop on Interactive Language Learning, Visualization, and Interfaces (<b>ILLVI 2014</b>)</i></span>
			<span>[<a href="http://nlp.stanford.edu/events/illvi2014/papers/chen-illvi2014.pdf" target="_blank">pdf</a>]</span>
		</li>		
		<li class="publication-block">
			<span nick="Maxis"><u>Ting-Hui Kao</u></span>,
			<span nick="Teer">Yu-wei Chang</span>,
			<span nick="Gina">Hsun-wen Chiu</span>,
			<span nick="Joe">Tzu-Hsi Yen</span>,
			<span nick="Wujc">Jian-Cheng Wu</span>,
			<span nick="Joanne">Joanne Boisson</span> and 
			<span nick="Jason">Jason S. Chang</span>,
			<span>"CoNLL-2013 Shared Task: Grammatical Error Correction - NTHU System (Rank#2/17)"</span>
			<span>in <i>Proceedings of the Seventeenth Conference on Computational Natural Language Learning: Shared Task (<b>CoNLL 2013</b>)</i>, pages 1–12, Soﬁa, Bulgaria, August 8-9 2013</span>
			<span>[<a href="http://www.aclweb.org/anthology-new/W/W13/W13-3603.pdf" target="_blank">pdf</a>]</span>
			<span>[<a href="http://www.aclweb.org/anthology-new/W/W13/W13-3603.bib" target="_blank">bib</a>]</span>
		</li>
		<li class="publication-block">
			<span nick="Joanne">Joanne Boisson</span>,
			<span nick="Maxis"><u>Ting-Hui Kao</u></span>,
			<span nick="Wujc">Jian-Cheng Wu</span>,
			<span nick="Joe">Tzu-Hsi Yen</span> and 
			<span nick="Jason">Jason S. Chang</span>,
			<span>"Linggle: a Web-scale Linguistic Search Engine for Words in Context"</span>
			<span>in <i>Proceedings of the 51st Annual Meeting of the Association for Computational Linguistics (<b>ACL 2013</b>)</i>, pages 139–144, Soﬁa, Bulgaria, August 4-9 2013.</span>
			<span>[<a href="http://www.aclweb.org/anthology-new/P/P13/P13-4024.pdf" target="_blank">pdf</a>]</span>
			<span>[<a href="http://www.aclweb.org/anthology-new/P/P13/P13-4024.bib" target="_blank">bib</a>]</span>
		</li>
		<li class="publication-block">
			<span nick="Mavis">Meihua Chen</span>,
			<span nick="Neo">Shih-Ting Huang</span>,
			<span nick="Maxis"><u>Ting-Hui Kao</u></span>,
			<span nick="Vincent">Hung-Ting Hsieh</span> and 
			<span nick="Jason">Jason S. Chang</span>,
			<span>"FLOW: A First-Language-Oriented Writing Assistant System"</span>
			<span>in <i>Proceedings of the 50th Annual Meeting of the Association for Computational Linguistics (<b>ACL 2012</b>)</i>, pages 157–162, Jeju, Republic of Korea, 8-14 July 2012</span>
			<span>[<a href="http://www.aclweb.org/anthology-new/P/P12/P12-3027.pdf" target="_blank">pdf</a>]</span>
			<span>[<a href="http://www.aclweb.org/anthology-new/P/P12/P12-3027.bib" target="_blank">bib</a>]</span>
		</li>
		<li class="publication-block">
			<span nick="Edwin">Chung-chi Huang</span>,
			<span nick="zzt">Ping-che Yang</span>,
			<span nick="Mavis">Meihua Chen</span> ,
			<span nick="Maxis"><u>Ting-Hui Kao</u></span>,
			<span nick="Vincent">Hung-Ting Hsieh</span> and 
			<span nick="Jason">Jason S. Chang</span>,
			<span>"TransAhead: A Writing Assistant for CAT and CALL"</span>
			<span>in <i>Proceedings of the 13th Conference of the European Chapter of the Association for Computational Linguistics (<b>EACL 2012</b>)</i>, pages 16–19, Avignon, France, April 23 - 27 2012 </span>
			<span>[<a href="http://www.aclweb.org/anthology/E/E12/E12-2004.pdf" target="_blank">pdf</a>]</span>
			<span>[<a href="http://www.aclweb.org/anthology/E/E12/E12-2004.bib" target="_blank">bib</a>]</span>
		</li>

		<li class="publication-block">
			<span class="publication-type">thesis</span>
			<span nick="Maxis"><u>Ting-Hui Kao</u></span>,
			<span>"Combining corpus statistics and knowledge base to disambiguate and acquire verb frames"</span>
			<span>M.S. Thesis in Computer Science, National Tsing Hua University, Taiwan, June 2013</span>
			<span>[<a href="/static/files/Maxis-thesis-final-Abstract.pdf" target="_blank">abstract</a>]</span>
			<span>[<a href="/static/files/Maxis-thesis-final-All.pdf" target="_blank">pdf</a>]</span>
			<span>[<a href="/static/files/Maxis-thesis-final-Presentation.pdf" target="_blank">slide</a>]</span>
			<ul>
				<li>Thesis Advisor: <a href="http://nlp.cs.nthu.edu.tw/" target="_blank">Prof. Jason S. Chang</a>, NTHU CS</li>
				<li>Committee:</li>
				<ul>
					<li><a href="http://nlg.csie.ntu.edu.tw/advisor.html" target="_blank">Prof. Hsin-Hsi Chen</a>, NTU CSIE</li>
					<li><a href="http://in1.csie.ncu.edu.tw/~chia/" target="_blank">Prof. Chia-Hui Chang</a>, NCU CSIE</li>
				</ul>
			</ul>

		</li>
	</ol>
{% endblock %}
